<h1>{{title}}</h1>
<form accept="/add" method="POST">
    <div class="input-field">
        <input placeholder="title" id="title" type="text" class="validate">
        <label for="title">Course Name</label>
    </div>

    <div class="input-field">
        <input placeholder="price" id="price" type="text" class="validate">
        <label for="price">Course Price</label>
    </div>

     <div class="input-field">
        <input placeholder="img" id="img" type="text" class="validate">
        <label for="img">Img URL</label>
    </div>

</form>