<h1>Card</h1>
{{#if course.length}}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Quintity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{/each }}
    </tbody>
</table>
{{#else}}
<p>Cart is empty</p>
{{/if}}