<h1>Profile</h1>
<div class="row">
    <div class="col s6">
        <img class="avatar" src="https://cdn-media-1.freecodecamp.org/images/0*xkJgg-6HskYrQ3N7.jpeg" alt="">
        <p>Avatar is absent</p>
    </div>
    <div class="col s6">
        <form action="/profile" method="POST">
        </form>

    </div>
</div>