<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        <h1>open_in_new password</h1>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input placeholder="password" name="password" id="password" type="text" class="validate" required>
                <label for="email">Enter Password</label>
                <span class="helper-text" data-error="Enter password"></span>
            </div>
            <p>
                <input type="hidden" name="_csrf" value="{{csrf}}" />
                <input type="hidden" name="userId" value="{{userId}}" />
                <input type="hidden" name="token" value="{{token}}" />
                <button type="submit" class="btn btn-primary">Send</button>
            </p>

        </form>

    </div>

</div>